.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-content: center;
    justify-content: center;
}
.main-text {
    color: rgb(246, 244, 242);
}

.secondary-text {
    color: rgb(246, 244, 242);
}

.animation-wrapper {
    width: 50%;
    padding-bottom: 35%;
}

.sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80, 80, 80, 0.35);
    backface-visibility: hidden;
}

@media (min-width: 500px) {
    .sphere path {
        stroke-width: 0.4px;
    }
}
